# Requirements
Python 3.7
Flask
Flask-Bcrypt
Flask-Email
Flask-Login
Flask-Mail	
Flask-SQLAlchemy
Flask-WTF	
Flask-WhooshAlchemy	
Flask-WhooshAlchemyPlus	
Jinja2	
MarkupSafe	
Pillow	
SQLAlchemy	
WTForms	2.3.1	2.3.1
Werkzeug	1.0.1	1.0.1
Whoosh	2.7.4	2.7.4
bcrypt	3.1.7	3.1.7
blinker	1.4	1.4
certifi	2020.4.5.1	2020.6.20
cffi	1.14.0	1.14.0
click	7.1.2	7.1.2
dnspython	1.16.0	1.16.0
email-validator	1.1.1	1.1.1
flask-whooshalchemy3	0.2.0	0.2.0
flask-whooshee	0.7.0	0.7.0
idna	2.9	2.9
itsdangerous	1.1.0	1.1.0
pbr	3.1.1	5.4.5
pip	20.1.1	20.1.1
post	2019.4.13	2019.4.13
pycparser	2.20	2.20
setuptools	47.1.1	47.3.1
six	1.15.0	1.15.0
