# Requirements
Python 3.7
Flask
Flask-Bcrypt
Flask-Email
Flask-Login
Flask-Mail	
Flask-SQLAlchemy
Flask-WTF	
Flask-WhooshAlchemy	
Flask-WhooshAlchemyPlus	
Jinja2	
MarkupSafe	
Pillow	
SQLAlchemy	
WTForms
Werkzeug
Whoosh
bcrypt
blinker
certifi
cffi
click
dnspython
email-validator
flask-whooshalchemy3
flask-whooshee
idna
itsdangerous
pbr
pip
post
pycparser
setuptools
six
