{% extends "layout.html" %}
{% block content %}
    <h2 class="article-title">About Page</h2>
    <article class="media content-section">
        <p class="article-content">
            Welcome to the Python Programming Blog!
            Here we'll be talking avout everything computer science.
            Basics, frameworks, machine learning, other data science stuff, any new tech or findings, and
            pretty much anything computer science related.</p>
        </div>
    </article>
{% endblock %}
