{% extends "layout.html" %}
{% block content %}
    <br>
    <br>
    <h2>Python Geek - Welcome Page</h2>
    <br>
    <main role="main">
        <div class="jumbotron">
            <div class="col-sm-8 mx-auto">
                <h2>Welcome</h2>
                <p>Welcome to the Python Programming Blog! Here we'll be talking avout everything computer science.
                    Basics, frameworks, machine learning, other data science stuff, any new tech or findings, and
                    pretty much anything computer science related.</p>
                <p>Go visit us at our website <a href="https://techwithtim.net/">Computer Science with Python</a>
                    to check out more cool stuff beyond just blogs.</p>
                <p>
                    <a class="btn btn-primary" href="/home" role="button">Got to Posts »</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}
